bson==0.5.10
click==7.1.2
dnspython==2.3.0
Flask==1.1.2
Flask-Login==0.6.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pymongo==4.4.0
python-dateutil==2.8.2
six==1.16.0
Werkzeug==1.0.1
pandas==2.0.3
bcrypt==4.0.1
numpy==1.24.4
pytz==2023.3
tzdata==2023.3