{% extends "layout.html" %}

{% block head_content %}
  <!-- INLINE CSS -->
  <link rel="stylesheet" href="/static/css/paciente_tratamento.css">

  <!-- SCRIPTS -->
    
    <!-- CARREGAR DADOS DA URL -->
      <script>
        window.onload = function() {
            const queryParams = new URLSearchParams(window.location.search);
            const nome = queryParams.get("nome");
            const cpf = queryParams.get("cpf");

            document.getElementById("nome").value = nome;
            document.getElementById("cpf").value = cpf;
        };
      </script>
{% endblock %}

{% block body_content %}
  <br>
  <div style="display: flex; align-items: center;">
    <img class="imagem-esquerda" src="https://ciasaude.s3.amazonaws.com/LOGO+CIA+.jpg" alt="Logo da CIA Saúde">
    <h3>Novo tratamento</h3>
  </div>
  <br>

  <form method="POST">

    <!-- CAMPO: NOME -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Insira o nome completo"
        disabled
      />
    </div>

    <!-- CAMPO: CPF -->
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
      type="text"
      class="form-control"
      id="cpf"
      name="cpf"
      placeholder="Insira o CPF"
      disabled
      />
    </div>
    
    <!-- CAMPO: ESPECIALIDADE -->
    <div class="form-group">
      <label for="especialidade">Especialidade</label>
      <input
        type="text"
        class="form-control"
        id="especialidade"
        name="especialidade"
        placeholder="Insira a especialidade"
        required
      />
    </div>
    
    <!-- CAMPO: PROFISSIONAL RESPONSAVEL -->  
    <div class="form-group">
      <label for="profissional_responsavel">Profissional Responsável</label>
      <input
        type="text"
        class="form-control"
        id="profissional_responsavel"
        name="profissional_responsavel"
        placeholder="Insira a especialidade"
        required
      />
    </div>

    <!-- CAMPO: Ovservação -->
    <div class="form-group">
      <label for="observacao">Observação</label>
      <textarea
      type="text"
      class="form-control"
      id="observacao"
      name="observacao"
      required
      style="height: 100px;"></textarea>
    </div>

    <!-- LINHA: DATA INICIO, DATA FIM -->
    <div class="row">

        
      <div class="col-sm">
        <div class="form-group">
          <label for="data_inicio">Data inicio</label>
          <input
          type="date"
          class="form-control"
          id="data_inicio"
          name="data_inicio"
          required
          />
        </div>
      </div>
      
      <div class="col-sm">
        <div class="form-group">
          <label for="data_fim">Data fim</label>
          <input
          type="date"
          class="form-control"
          id="data_fim"
          name="data_fim"
          />
        </div>
      </div>
      
      
    </div>
    
    <br>
    
    <!-- BOTOES: CANCELAR, CADASTRAR -->
    <div class="col-sm custom-button-container">
      <a href="/tratamento-consulta" class="btn btn-primary custom-button cancelar-button">Cancelar</a>
      <button type="submit" class="btn btn-primary custom-button cadastrar-button">Cadastrar</button>
    </div>
      
  </form>
{% endblock %}