{% extends "layout.html" %}

<!-- JINJA2 - CONTEÚDO HEAD -->
{% block head_content %}

  <!-- CONTEÚDO DA PÁGINA -->
    <title>Consulta Profissional</title>

  <!-- CSS -->
    <style>
       .imagem-esquerda {
       float: left;
       margin-right: 120px;
       width: 250px; /* Defina o tamanho desejado para a imagem */
      }   
        .profissional_table {
            border-collapse: collapse;
            background: #FFFFF0;
        }
        
        .profissional_table td {
            border: 0.5px solid black;
        }
        
        .profissional_table th {
            border: 0.5px solid black;
            background: #F0FFF0;
            color: #fff;
        }

        body {
          font-family: Arial, sans-serif;
        }

        h1 {
          margin-top: 20px;
        }

        .custom-btn {
      background-color: #a9cf3c;
      color: #fff;
      padding: 10px 15px;
      text-decoration: none;
      border: 1px solid #a9cf3c;
      border-radius: 5px;
      display: inline-block;
    }

    .custom-btn.align-right {
      float: right;
    }

    .custom-btn:hover {
      background-color: #7ca22b;
    }

    .profissional_table {
      width: 100%;
      margin: auto;
      border-collapse: collapse;
    }


    .profissional_table th,
    .profissional_table td {
      padding: 5px;
      border: 1px solid black;
      text-align: center;
    }

    .profissional_table tr:first-child th {
      text-transform: capitalize;
    }

    .profissional_table th {
      background-color: #a9cf3c;
      position: sticky;
      top: 0;
    }

    .table-container {
      max-height: 400px;
      overflow-y: auto;
    }

    .button-container {
      display: flex;
      align-items: right;
      gap: 10px;
      text-align: center;
      margin-top: 10px;
    }

    .button-container2 {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-end; /* Alinhar os botões à direita */
    }

    #searchInput {
      padding: 8px 12px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 4px;
      outline: none;
    }

    /* Estilos para os botões */
    .button-container button {
      background-color: #a9cf3c;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    /* Estilo quando o mouse está sobre o botão */
    .button-container button:hover {
      background-color: #92b633;
    }

    #downloadCSV {
      background-color: #a9cf3c;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      float: right; /* Alinhar o botão à direita */
    }

    #downloadCSV:hover {
      background-color: #92b633;
    }

    #select-all-button {
      background-color: #a9cf3c;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      float: left; /* Alinhar o botão à direita */
    }

    #select-all-button:hover {
      background-color: #92b633;
    }

    </style>
  
  <!-- SCRIPTS -->
      <!-- SCRIPT PARA REDIRECIONAR PARA PAGINA DE EDITAR COM PARAMETROS NA URL -->
      <script>
        function transformarParaParametros(button) {
          const row = button.closest("tr");
          const cells = row.querySelectorAll("td");
          
          // Extrair os valores das células da linha
          const nome = cells[1].textContent;
          const endereco = cells[2].textContent;
          const rg = cells[3].textContent;
          const cpf = cells[4].textContent;

          const telefone = cells[5].textContent;
          const especialidade = cells[6].textContent;
          const obs_especializacao = cells[7].textContent;

          const crm = cells[8].textContent;
          const pagamento = cells[9].textContent;
          const empresa = cells[10].textContent;
          const numero_carteirinha = cells[11].textContent;

          const plano = cells[12].textContent;
          const pix = cells[13].textContent;
          const banco = cells[14].textContent;
          const agencia = cells[15].textContent;
          const conta = cells[16].textContent;
          
          // Construir os parâmetros da URL
          const params = new URLSearchParams();

          params.append("nome", nome);
          params.append("endereco", endereco);
          params.append("rg", rg);
          params.append("cpf", cpf);
          params.append("telefone", telefone);
          params.append("especialidade", especialidade);
          params.append("obs_especializacao", obs_especializacao);
          params.append("crm", crm);
          params.append("pagamento", pagamento);
          params.append("empresa", empresa);
          params.append("numero_carteirinha", numero_carteirinha);
          params.append("plano", plano);
          params.append("pix", pix);
          params.append("banco", banco);
          params.append("agencia", agencia);
          params.append("conta", conta);

          
          // Gerar a URL com os parâmetros
          const url = `profissional-editar?${params.toString()}`;
          
          // Redirecionar para a outra página
          window.location.href = url;
        }
      </script>
{% endblock %}


<!-- JINJA 2 - CONTEÚDO BODY -->
{% block body_content %}
<br>
<div style="display: flex; align-items: center;">
  <img class="imagem-esquerda" src="https://ciasaude.s3.amazonaws.com/LOGO+CIA+.jpg" alt="Logo da CIA Saúde">
  <h3 style="font-size: 40px;">Lista de Profissionais</h3>
</div>
  <br>
  
  <!-- BOTÃO: NOVO -->
  <a href="/profissional-novo" class="btn btn-primary custom-btn align-right">Novo</a>

  <!-- FILTRO PESQUISA -->
  <div class="search-container">
    <label for="searchInput">Busque por dados do profissional:</label>
    <br>
    <input type="text" id="searchInput" class="search-input" placeholder="Pesquisar...">
  </div>

  <!-- BOTOES DIREITA DA PAGINA -->
  <div class="button-container"></div>
  <button id="select-all-button">Selecionar Todos</button>
  <button id="downloadCSV">Baixar</button>

  <br><br> <!-- Espaçamento duplo -->

  <!-- Tabela de pacientes -->

  <div class="table-container">
    <table class="profissional_table">

      <!-- CABEÇALHOS DA TABELA -->
      <thead>
        <tr>
          <th>Selecionar</th>
          <th>Nome</th>
          <th>Endereço</th>
          <th>RG</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Especialidade</th>
          <th>Obs. Especializacao</th>
          <th>CRM</th>
          <th>Pagamento</th>
          <th>Empresa</th>
          <th>Nº Carteirinha</th>
          <th>Plano</th>
          <th>Pix</th>
          <th>Banco</th>
          <th>Agencia</th>
          <th>Conta</th>
          <th>Editar</th>
        </tr>
      </thead>

      <!-- DADOS DA TABELA -->
      {% for row in profissional %}
      <tr>
        <!-- Checkbox para selecionar a linha -->
        <td><input type="checkbox" class="select-row" name="item"></td> 
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        <td>
          <!-- Botão "EDITAR" que chama a função transformarParaParametros() -->

          
          <button class="btn btn-primary custom-btn">Editar</button>
        </td>
      </tr>
      {% endfor %}
      
    </table>
  </div>

  <br><br>

  <!-- "Voltar" button -->
  <a href="/home" class="btn btn-primary custom-btn">Voltar</a>

  <br><br>

{% endblock %}