{% extends "layout.html" %}

{% block head_content %}

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/tratamento_novo.css">

{% endblock %}

{% block body_content %}
  <br>
  <div style="display: flex; align-items: center;">
    <img class="imagem-esquerda" src="https://ciasaude.s3.amazonaws.com/LOGO+CIA+.jpg" alt="Logo da CIA Saúde">
    <h3>Novo tratamento</h3>
  </div>
  <br>

  <form method="POST">

    <!-- CAMPO: NOME -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Insira o nome completo"
        required
      />
    </div>

    <!-- CAMPO: CPF -->
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
      type="text"
      class="form-control"
      id="cpf"
      name="cpf"
      placeholder="Insira o CPF"
      oninput="formatCPF(this)"
      maxlength="14"
      pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
      required
      />
    </div>
    
    <!-- CAMPO: ESPECIALIDADE -->
    <div class="form-group">
      <label for="especialidade">Especialidade</label>
      <input
        type="text"
        class="form-control"
        id="especialidade"
        name="especialidade"
        placeholder="Insira a especialidade"
        required
      />
    </div>
    
    <!-- CAMPO: PROFISSIONAL RESPONSAVEL -->  
    <div class="form-group">
      <label for="profissional_responsavel">Profissional Responsável</label>
      <input
        type="text"
        class="form-control"
        id="profissional_responsavel"
        name="profissional_responsavel"
        placeholder="Insira a especialidade"
        required
      />
    </div>

    <!-- CAMPO: Observação -->
    <div class="form-group">
      <label for="observacao">Observação</label>
      <textarea
      type="text"
      class="form-control"
      id="observacao"
      name="observacao"
      style="height: 100px;"></textarea>
    </div>

    <!-- LINHA: DATA INICIO, DATA FIM -->
    <div class="row">

        
      <div class="col-sm">
        <div class="form-group">
          <label for="data_inicio">Data inicio</label>
          <input
          type="date"
          class="form-control"
          id="data_inicio"
          name="data_inicio"
          required
          />
        </div>
      </div>
      
      <div class="col-sm">
        <div class="form-group">
          <label for="data_fim">Data fim</label>
          <input
          type="date"
          class="form-control"
          id="data_fim"
          name="data_fim"
          />
        </div>
      </div>
      
      
    </div>
    
    <br>
    
    <!-- BOTOES: CANCELAR, CADASTRAR -->
    <div class="col-sm custom-button-container">
      <a href="/tratamento-consulta" class="btn btn-primary custom-button cancelar-button">Cancelar</a>
      <button type="submit" class="btn btn-primary custom-button cadastrar-button">Cadastrar</button>
    </div>

    <br>
      
  </form>

  <!-- SCRIPTS -->
    <!-- CPF -->
      <script>

        function formatCPF(input) {
          let cpf = input.value.replace(/\D/g, ''); // Remove non-digit characters from input
    
          // Format the CPF as "000.000.000-00" when it's valid and complete
          if (/^\d{11}$/.test(cpf)) {
            cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
          }
    
          input.value = cpf;
          validateCPF(input);
        }
    
        function validateCPF(input) {
          const cpf = input.value.replace(/\D/g, ''); // Remove non-digit characters from input
    
          // Check if the CPF has 11 digits
          if (cpf.length !== 11) {
            showErrorMessage('CPF deve conter 11 dígitos.');
          } else if (/^(\d)\1+$/.test(cpf)) {
            // Check if it's a sequence of the same number
            showErrorMessage('CPF não pode ser uma sequência de números iguais.');
          } else {
            hideErrorMessage();
          }
        }
    
        function showErrorMessage(message) {
          const errorDiv = document.getElementById('cpf-error');
          errorDiv.innerText = message;
        }
    
        function hideErrorMessage() {
          const errorDiv = document.getElementById('cpf-error');
          errorDiv.innerText = '';
        }
    
      </script>
{% endblock %}