{% extends "layout.html" %}

{% block head_content %}

  <!-- CONTEÚDO DA PÁGINA -->
    <!-- titulo da page -->
      <title>Consulta Tratamentos</title> 

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/tratamento_consulta.css">

  <!-- TODOS OS SCRIPTS -->
    <!-- jquery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- SCRIPT PARA REDIRECIONAR PARA PAGINA DE EDITAR COM PARAMETROS NA URL -->
      <script>
        function transformarParaParametros(button) {
          const row = button.closest("tr");
          const cells = row.querySelectorAll("td");
          
          // Extrair os valores das células da linha
          const nome = cells[1].textContent;
          const cpf = cells[2].textContent;
          const especialidade = cells[3].textContent;
          const profissional_responsavel = cells[4].textContent;
          const observacao = cells[5].textContent;
          const data_inicio = cells[6].textContent;
          const data_fim = cells[7].textContent;
          
          // Construir os parâmetros da URL
          const params = new URLSearchParams();
          params.append("nome", nome);
          params.append("cpf", cpf);
          params.append("especialidade", especialidade);
          params.append("profissional_responsavel", profissional_responsavel);
          params.append("observacao", observacao);
          params.append("data_inicio", data_inicio);
          params.append("data_fim", data_fim);
          
          // Gerar a URL com os parâmetros
          const url = `tratamento-editar?${params.toString()}`;
          
          // Redirecionar para a outra página
          window.location.href = url;
        }
      </script>

    <!-- monte de script juntos -->
      <script>
        $(document).ready(function() {
          // Filtro de pesquisa
          $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table.tratamento_table tbody tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
          });

          // Download do CSV
          $("#downloadCSV").on("click", function() {
            // Obter todas as linhas selecionadas
            var selectedRows = $("input.select-row:checked").closest("tr");

            // Criar o conteúdo CSV com as linhas selecionadas
            var csvContent = "data:text/csv;charset=utf-8,";
            selectedRows.each(function(index) {
              var rowData = [];
              $(this).find("td").each(function() {
                rowData.push($(this).text());
              });
              var rowString = rowData.join(",");
              csvContent += index === 0 ? rowString : "\n" + rowString;
            });

            // Criar um elemento de link temporário para download
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "tratamentos_selecionados.csv");
            document.body.appendChild(link);

            // Clique no link para iniciar o download do arquivo
            link.click();
          });
        });
      </script>

    <!-- selecionar todos os checkboxes -->
      <script>
        // JavaScript para selecionar todos os checkboxes quando o checkbox "select-all" for clicado
        const selectAllCheckbox = document.getElementById("select-all");
        const rowCheckboxes = document.getElementsByClassName("select-row");

        selectAllCheckbox.addEventListener("change", function () {
          for (let i = 0; i < rowCheckboxes.length; i++) {
            rowCheckboxes[i].checked = this.checked;
          }
        });
      </script>

    <!-- script sem anotações -->
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          // Função para selecionar ou desmarcar todas as checkboxes
          function selectAllCheckboxes() {
            const checkboxes = document.querySelectorAll('.select-row');
            const selectAllButton = document.getElementById('select-all-button');

            const isSelectAll = selectAllButton.getAttribute('data-select') === 'true';

            checkboxes.forEach((checkbox) => {
              checkbox.checked = !isSelectAll;
            });

            selectAllButton.setAttribute('data-select', (!isSelectAll).toString());
            selectAllButton.innerText = isSelectAll ? 'Selecionar Todos' : 'Desmarcar Todos';
          }

          // Evento de clique no botão "Selecionar Todos"
          const selectAllButton = document.getElementById('select-all-button');
          selectAllButton.addEventListener('click', selectAllCheckboxes);
        });
      </script>

{% endblock %}

{% block body_content %}
  <br>

  <div style="display: flex; align-items: center;">
    <img class="imagem-esquerda" src="https://ciasaude.s3.amazonaws.com/LOGO+CIA+.jpg" alt="Logo da CIA Saúde">
    <h3 style="font-size: 40px;">Lista de Tratamentos</h3>
  </div>
  
  <br>

  <!-- FILTRO DE PESQUISA -->
  <div class="search-container">
      <a href="/tratamento-novo" class="btn btn-primary custom-btn align-right">Novo</a>
      <label for="searchInput">Busque por dados do tratamento:</label>
      <br>
      <input type="text" id="searchInput" class="search-input" placeholder="Pesquisar...">
  </div>

  <br>

  <!-- BOTOES DIREITA DA PAGINA -->
  <button id="select-all-button">Selecionar Todos</button>
  <button id="downloadCSV">Baixar</button>

  <br><br> <!-- Espaçamento -->

  <!-- TABELA TRATAMENTOS -->
  <table class="tratamento_table">

    <!-- CABEÇALHOS DA TABELA -->
    <thead>
      <tr>
        <th>Selecionar</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Especialidade</th>
        <th>Profissional Responsável</th>
        <th>Observação</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Editar</th>
      </tr>
    </thead>

    <!-- DADOS DA TABELA -->
    {% for row in tratamentos %}
    <tr>
      <!-- Checkbox para selecionar a linha -->
      <td><input type="checkbox" class="select-row"></td> 
        {% for cell in row %}
          <td>{{ cell }}</td>
        {% endfor %}
      <td>
        <!-- Botão "EDITAR" que chama a função transformarParaParametros() -->
        <button onclick="transformarParaParametros(this)" class="btn btn-primary custom-btn">Editar</button>
      </td>
    </tr>
    {% endfor %}

  </table>

  <br><br>

  <!-- "Voltar" button -->
  <a href="/home" class="btn btn-primary custom-btn">Voltar</a>

  <br><br>

{% endblock %}